* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

#btn {
  padding: 7px 14px;
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 7px;
}

#btn:hover {
  background-color: rgb(241, 219, 234);
  transition: ease-in-out 0.3s;
}
